{% extends 'base.html.twig' %}

{% block title %}Vehicules{% endblock %}

{% block body %}
    <h1>Vehicules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Vitesse</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.nom }}</td>
                <td>{{ vehicule.vitesse }}</td>
                <td>{{ vehicule.capacite }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Afficher</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de resultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}">Creer nouveau vehicule</a>
{% endblock %}
